header {
  background: $white;
  border-bottom: 1px solid $light;
  color: $dark;
  font-family: $header-font;
  height: rem(55);
  padding: 0 rem(10);

  h1 {
    display: inline-block;
    font-size: 1.7rem;
    line-height: rem(55);
    margin: 0;
    vertical-align: top;
    width: 15%;
  }

  span {
    display: none;
  }

  a {
    color: $dark;
    text-decoration: none;
  }
}
