header {
  background: $light;
  color: $dark;
  font-family: $header-font;

  h1 {
    font-size: 4rem;
    margin: 0 0 0 7.6%;
    padding-top: rem(50);
  }

  span {
    display: none;
  }

  a {
    color: $dark;
    text-decoration: none;
  }
}
