header {
  background: $white;
  border-bottom: 1px solid $light;
  color: $dark;
  font-family: $header-font;
  height: rem(55);
  position: absolute;
  top: 0;
  width: 100%;

  h1 {
    font-size: 2rem;
  }

  span {
    display: none;
  }

  a {
    color: $dark;
    text-decoration: none;
  }
}
