.index-view {
  background: $white url('../images/dance1.jpg');
  background-position: 0% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: fixed;
  width: 100%;

  main {
    background: none;
  }

  span.tag-line {
    color: $white;
    display: block;
    font-family: $tagline-font;
    font-size: 2rem;
    font-weight: 500;
    left: rem(105);
    letter-spacing: rem(1);
    margin-top: rem(20);
    padding-left: rem(250);
    text-align: center;
  }

  header {
    background: rgba($orange, .15);
    height: 100%;
    position: absolute;
    text-shadow: 0 0 6px $dark;
    top: 0;
    width: 100%;

    h1 {
      background: transparent;
      font-size: 5rem;
      letter-spacing: rem(6);
      margin-top: 15%;
      padding: 0;
      text-align: center;
      width: 100%;
    }

    a {
      color: $light-blue;
    }
  }

  nav {
    background: transparent;
    font-family: 'Lato', serif;
    font-weight: 300;
    height: rem(55);
    margin: 0;
    padding-right: 0;
    position: fixed;
    top: 0;
    width: 100%;

    .left-nav {
      margin-left: 0;
    }

    * {
      color: $white;
      height: rem(50);
      line-height: rem(50);
      padding-right: rem(10);
    }

    a {
      color: $white;

      &:hover {
        background: transparent;
      }
    }

    span {
      margin: auto;
    }
  }

  .search-box {
    background: rgba($dark, .7);
    bottom: 0;
    height: rem(100);
    position: fixed;
    width: 100%;

    input {
      border: solid 1px $light;
      border-right: 0;
      display: block;
      float: left;

      &.start-date-input,
      &.end-date-input {
        border: 0;
      }

      &.search-location {
        border-radius: rem(3) 0 0 rem(3);
      }

      &[type=submit] {
        border: solid 1px darken($orange, 15%);
        border-radius: 0 rem(3) rem(3) 0;
        font-weight: 400;
        letter-spacing: rem(1);
        line-height: 14px;
      }
    }
  }

  .index-search {
    border-radius: rem(3);
    margin: rem(28) auto;
    width: 975px;
  }

  select {
    border: solid 1px $light;
    border-radius: 0;
    border-right: 0;
    display: block;
    float: left;
  }
}
