nav {
  color: $white;
  display: inline-block;
  height: rem(60);
  padding-right: rem(20);
  position: relative;
  text-transform: uppercase;
  top: rem(-60);
  width: 100%;
  z-index: 0;

  span {
    display: inline;
    font-size: rem(14);
  }
}

.left-nav,
.right-nav {
  display: inline-block;
  height: rem(60);

  * {
    line-height: rem(30);
    margin-left: rem(5);
    margin-top: rem(7);
  }

  a {
    border-radius: rem(3);
    color: $dark;
    display: inline-block;
    padding: rem(1) rem(10) rem(5);
    text-decoration: none;

    &:hover {
      background: rgba($medium, .7);
      color: $light-blue;
    }

    &.active {
      background: rgba($medium, .3);

      &:hover {
        background: rgba($medium, .7);
      }
    }
  }

  i:before {
    margin-right: rem(5);
  }
}


.left-nav {
  float: left;
  margin-left: 190px;
}

.right-nav {
  color: $dark;
  float: right;
}

@media (max-width: 1130px) {
  nav {

    span {
      font-size: rem(10);
      vertical-align: top;
    }
  }
}

@media (max-width: 980px) {
  nav {
    span {
      font-size: 0;
    }
  }
}
