nav {
  color: $white;
  height: rem(55);
  position: absolute;
  top: 0;
  width: 100%;
}

.left-nav {
  display: inline-block;
  float: right;
}

.right-nav {
  display: inline-block;
  float: left;
}
