.org {
  margin: 0 auto;
  max-width: rem(900);
  padding: 0;
  width: 85%;

  .dancer-attending {
    margin: 0;
    padding: 0;
  }

  .search-result {
    border: solid 1px $vlight;
    border-radius: rem(3);
    margin: rem(20);
    padding: rem(20);

    a {
      color: $medium;
    }
  }
}
