.search {
  background: $white;
  bottom: 0;
  position: fixed;
  top: 60px;
  width: 100%;

  .search-right {
    float: left;
    height: 100%;
    overflow: scroll;
    padding: 0 rem(20);
    width: 60%;
  }

  .search-box {
    border-bottom: solid 1px $light-blue;
    overflow: auto;
  }

  .pri-label {
    border-right: 1px solid $light-blue;
    float: left;
    padding: rem(10) rem(30) rem(40) rem(20);
    width: 33%;

    &:last-of-type {
      border-right: 0;

      span {
        margin: rem(20) 0 rem(48);
      }
    }

    span {
      display: block;
      font-weight: 400;
      margin: rem(20) 0;
      width: 100%;
    }
  }

  label {
    display: block;
    margin-bottom: rem(10);
  }

  input ,
  select {
    border: solid 1px $light;
    border-radius: 3px;
    margin-bottom: rem(20);
    width: 100%;
  }

  input[type=submit] {
    font-weight: 400;
    letter-spacing: rem(1);
    line-height: 18px;
    margin-top: rem(30);
  }

  .search-results-list {
    margin: 0;
    padding: 0;
  }

  .search-result-count {
    padding: rem(20);
    padding-bottom: 0;
  }

  .search-result {
    border: solid 1px $vlight;
    border-radius: rem(3);
    margin: rem(20);
    padding: rem(20);

    a {
      color: $medium;
    }
  }
}
