@import url('http://fonts.googleapis.com/css?family=Vollkorn:400');
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800');
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://fonts.googleapis.com/css?family=Josefin+Slab:600');

$dark: #222130;
$medium: #464d57;
$light: lighten($medium, 20%);
$light-blue: #d4e8d3;
$orange: #ed8917;
$white: #fff;

$header-font: 'Open Sans', sans-serif;
$tagline-font: 'Josefin Slab', serif;
$body-font: 'Open Sans', sans-serif;
$form-font: 'Lato', sans-serif;

@mixin form-font {
  font-family: $form-font;
  font-weight: 300;
}
