<h3>Your one time events</h3>

{{#unless collection.models}}
  You have no one time events.
  <a href="#/orgs/{{orgUrlId}}/create-event">Click here to add a new event</a>
{{/unless}}

{{#each collection.models}}
  <a href="#/orgs/{{orgUrlId}}/{{urlId}}/manage">{{attributes.name}}</a>
{{/each}}
