  <input name="reg-limit" class="reg-limit-input" type="number">
  <label name="reg-limit">Registration Limit</label>

<label class="check" name="gender-bal">Lead/Follow Balanced</label>
  <input type="checkbox" class="gender-bal-input" name="gender-bal">
