<div class="save-warning">
  These changes will also occur on all instances of this recurring event.
  Previously made changes to any instance of this event may be overwritten.
  Are you sure you want to continue?
  <input type="button" class="continue-save" value="continue">
  <a href='#'>cancel</a>
</div>
