<select name="monthlyRpt" class="monthly-option-input">
  <option value="first">the first</option>
  <option value="second">the second</option>
  <option value="third">the third</option>
  <option value="fourth">the fourth</option>
  <option value="last">the last</option>
</select>
