<select class="weekly-option-input">
  <option value="monday">on Monday</option>
  <option value="tuesday">on Tuesday</option>
  <option value="wednesday">on Wednesday</option>
  <option value="thursday">on Thursday</option>
  <option value="friday">on Friday</option>
  <option value="saturday">on Saturday</option>
  <option value="sunday">on Sunday</option>
</select>

<button class="choose-rpt">Continue</button>
