<select class="monthly-option-input">
  <option value="first">on the first week</option>
  <option value="second">on the second week</option>
  <option value="third">on the third week</option>
  <option value="last">on the last week</option>
</select>
