<select class="weekly-option-input">
  <option value="1">on Monday</option>
  <option value="2">on Tuesday</option>
  <option value="3">on Wednesday</option>
  <option value="4">on Thursday</option>
  <option value="5">on Friday</option>
  <option value="6">on Saturday</option>
  <option value="0">on Sunday</option>
</select>

<button class="choose-rpt">Continue</button>
