{{#if recurring}}
<div class="recurInfo">
  {{#if recurMonthly}}
    This event occurs on the {{monthlyRpt}} {{weeklyRptName}} of each month.
  {{else}}
    This event occurs every {{weeklyRptName}}.
  {{/if}}
  <p>
    Your event will run for one year by default.
  </p>
  <p>
    You can set bands, callers, musicians, and other special info for each event in this series after the series is created. Need to cancel an event in this series? You can do that all from the "manage my events" page.
  </p>
</div>
{{/if}}

<label name="name">Event Name</label>
  <input name="name" class="event-name-input" type="text">

<label name="event-type">Event Type</label>
  <select class="event-type-input" name="event-type">
    <option value="contraDance" selected>Contra Dance</option>
    <option value="advancedContraDance">Advanced Contra Dance</option>
    <option value="contraWorkshop">Contra Workshop</option>
    <option value="waltzDance">Waltz Dance</option>
    <option value="waltzWorkshop">Waltz Workshop</option>
    <option value="squareDance">Square Dance</option>
    <option value="danceWeekend">Dance Weekend</option>
    <option value="callerWorkshop">Caller Workshop</option>
  </select>

{{#unless recurring}}
  <label name="start-date">Start date</label>
    <input name="start-date" class="event-start-date-input" type="date">
{{/unless}}

<label name="start-time">Start time</label>
  <input name="start-time" class="event-start-time-input" type="time">

{{#unless recurring}}
  <label name="multi-day">Multi-day Event</label>
    <input name="multi-day"class="multi-day-input" type="checkbox">
    <div class="multi-day">
    </div>
{{/unless}}

<label name="end-time">End time</label>
  <input name="end-time" class="event-end-time-input" type="time">

<label name="venue-name">Venue Name</label>
  <input name="venue-name" class="venue-name-input" type="text" placeholder="venue name">
<label name="address">Venue Address</label>
  <input name="address" class="event-address-input" type="text" placeholder="venue address">
<label name="zipcode">Venue Zipcode</label>
  <input name="zipcode" class="event-zipcode-input"type="text" placeholder="venue zipcode">

{{#unless recurring}}
<label name="band-name">Band Name</label>
  <input type="text" class="band-name-input" name="band-name" placeholder="band name">
<label name="musicians">Musicians</label>
  <textarea name="musicians" class="musicians-input" rows="8" cols="10" placeholder="musicians"></textarea>

<label name="caller">Caller</label>
  <input type="text" class="caller-input" name="caller" placeholder="caller">
{{/unless}}

<label name="event-price">Price</label>
  <input type="text" class="price-input" name="event-price" placeholder="price">

<label name="beginner-friendly">Beginner Friendly</label>
  <input type="checkbox" class="beginner" name="beginner-friendly">

<label name="workshop-included">Workshop Included</label>
  <input type="checkbox" class="workshop-incl" name="workshop-included">

{{#unless recurring}}
  <label name="pre-reg-req">Pre-registration required</label>
    <input type="checkbox" name="pre-reg-req" class="pre-reg-req-input">
    <div class="reg-req">
    </div>
{{/unless}}

<label name="notes">Notes</label>
<textarea name="note" class="notes-input" placeholder="notes"></textarea>

<input type="submit" class="submit-event" value="create your event" disabled>
