<label name="recurring-event">Recurring Event</label>
  <input name="recurring-event" class="recurring-event-input" type="checkbox">
  <p class="recurring-event-notice">
    selecting recurring event will auto-generate events for you on a weekly or monthly basis. If the event recurs annually, please do not select recurring.</p>
  </p>
<label name="recurring-schedule">Recurring Schedule</label>
  <select class="recurring-option-input">
    <option value="weekly" selected>Weekly</option>
    <option value="monthly">Monthly</option>
  </select>
  <select class="weekly-option-input">
    <option value="eachMonday">every Monday</option>
    <option value="eachTuesday">every Tuesday</option>
    <option value="eachWednesday">every Wednesday</option>
    <option value="eachThursday">every Thursday</option>
    <option value="eachFriday">every Friday</option>
    <option value="eachSaturday">every Saturday</option>
    <option value="eachSunday">every Sunday</option>
  </select>
  <select class="monthly-option-input">
    <option value="first">every first week</option>
    <option value="second">every second week</option>
    <option value="third">every third week</option>
    <option value="last">every last week</option>
  </select>
  <select class="monthly-day-option-input">
    <option value="Monday">on Monday</option>
    <option value="Tuesday">on Tuesday</option>
    <option value="Wednesday">on Wednesday</option>
    <option value="Thursday">on Thursday</option>
    <option value="Friday">on Friday</option>
    <option value="Saturday">on Saturday</option>
    <option value="Sunday">on Sunday</option>
  </select>
<label name="name">Event Name</label>
  <input name="name" class="event-name-input" type="text">
<label name="start-date">Start date</label>
  <input name="start-date" class="event-start-date-input" type="date">
<label name="start-time">Start time</label>
  <input name="start-time" class="event-start-time-input" type="time">
<label name="end-date">End date</label>
  <input name="end-date" class="event-end-date-input" type="date">
<label name="end-time">End time</label>
  <input name="end-time" class="event-end-time-input" type="time">
<label name="venue-name">Venue Name</label>
  <input name="venue-name" class="venue-name-input" type="text" placeholder="venue name">
<label name="event-type">Event Type</label>
  <select class="event-type-input" name="event-type">
    <option value="contraDance" selected>Contra Dance</option>
    <option value="advancedContraDance">Advanced Contra Dance</option>
    <option value="contraWorkshop">Contra Workshop</option>
    <option value="waltzDance">Waltz Dance</option>
    <option value="waltzWorkshop">Waltz Workshop</option>
    <option value="squareDance">Square Dance</option>
    <option value="danceWeekend">Dance Weekend</option>
    <option value="callerWorkshop">Caller Workshop</option>
  </select>
<label name="address">Venue Address</label>
  <input name="address" class="event-address-input" type="text" placeholder="venue address">
<label name="zipcode">Venue Zipcode</label>
  <input name="zipcode" class="event-zipcode-input"type="text" placeholder="venue zipcode">
<label name="pre-reg-req">Pre-registration required</label>
  <input type="checkbox" name="pre-reg-req">
<label name="reg-limit">Registration Limit</label>
  <input name="reg-limit" type="number">
<label name="gender-bal">Lead/Follow Balanced</label>
  <input type="checkbox" name="gender-bal">
<label name="band-name">Band Name</label>
  <input type="text" name="band-name" placeholder="band name">
<label name="musicians">Musicians</label>
  <textarea name="musicians" rows="8" cols="10" placeholder="musicians"></textarea>
<label name="caller">Caller</label>
  <input type="text" name="caller" placeholder="caller">
<label name="event-price">Price</label>
  <input type="text" name="event-price" placeholder="price">
<label name="beginner-friendly">Beginner Friendly</label>
  <input type="checkbox" name="beginner-friendly">
<label name="workshop-included">Workshop Included</label>
  <input type="checkbox" name="workshop-included">
<input type="submit" value="create your event" disabled>
