<form>
  <label name="subject">Subject</label>
  <input name="subject" class="email-subject" type="textbox" placeholder="subject">
  <label name="body">Body</label>
  <textarea name="body" class="email-body" rows="8" cols="40"></textarea>
  <input class="sendEmail" type="submit" value="Send Email">
</form>
