{{#unless event.recurring}}
  <a href="#/orgs/{{event.orgUrlId}}/{{event.objectId}}/email">Email attendees</a>
{{/unless}}

<div class="event-header">
</div>

{{#if event.recurring}}
  <div class="event-recur">
  </div>
{{/if}}

<div class="event-info">
</div>

<div class="venue-info">
</div>
