<h2>Hi, {{model.name}}!</h2>
<p>Below is a list of your events. Click on any event name to view, add or change the event's info</p>
<h3>Your Recurring Events</h3>
<ul class="recurring-event-list">
</ul>
<h3>Your One Time Events</h3>
