<div class="chooseRecur">
  <span>This event occurs</span>
  <label>once</label>
    <input class="chooseNoRpt" name="chooseRpt" type="radio">
  <label>once a</label>
    <input class="chooseRpt" name="chooseRpt" type="radio" value="true" {{#if event.recurMonthly}} checked{{/if}}><label name="chooseRpt">month</label>
    <input class="chooseRpt" name="chooseRpt" type="radio" value="false" {{#unless event.recurMonthly}} checked {{/unless}}><label name="chooseRpt">week</label>
</div>

<div class="chooseWkMoRpt">
</div>

<div class="event-form">
</div>
