<h2>New Event</h2>
<form>
  <div class="choose-recur">
    <h3>This event occurs:</h3>
    <label name="chooseRpt"><input class="chooseNoRpt" name="chooseRpt" type="radio">once</label>
    <label name="chooseRpt"><input class="chooseRpt" name="chooseRpt" type="radio" value="true" >once every month</label>
    <label name="chooseRpt"><input class="chooseRpt" name="chooseRpt" type="radio" value="false" >once every week</label>
  </div>

  <div class="choose-dates">
  </div>

  <div class="event-form">
  </div>
</form>
