<div class="login-req-notif">
  <p>You must be logged in to use this feature</p>
  <a href="#/login" class="visit-login">log in</a>
  <a href="#/register" class="visit-register">register</a>
  <a href="#" class="cancel">cancel</a>
</div>
