<div class='clear {{id}}-calendar'>
  <div class='view'>
    <div class='head'>
      <div class='title'>
        <span class='m'></span>
        <span class='y'></span>
      </div>
    </div>
    <div class='row th'>
      <div class='C'>M</div>
      <div class='C'>T</div>
      <div class='C'>W</div>
      <div class='C'>T</div>
      <div class='C'>F</div>
      <div class='C'>S</div>
      <div class='C'>S</div>
    </div>
    <div class='dayArea'>
    </div>
    <div class='row nav'>
      <i class='btn prev prev-year fa fa-fast-backward'></i>
      <i class='btn prev prev-month fa fa-play fa-flip-horizontal'></i>
      <i class='btn next next-month fa fa-play'></i>
      <i class='btn next next-year fa fa-fast-forward'></i>
    </div>
  </div>
</div>
