<h2>{{#if owner}}My{{else}}{{user.name}}'s{{/if}} dance card</h2>
<div class="content">
{{!-- <h3>Dances {{#if owner}}you are{{else}}{{user.name}} is{{/if}} attending: </h3> --}}
  <ul class='dancer-attending'>
  </ul>
</div>
