<form class="reset-password">
  <a href="#" class="close-modal">
    <span class="fa-stack">
      <i class="fa fa-times fa-stack-1x" ></i>
      <i class="fa fa-circle-o fa-stack-2x"></i>
    </span>
  </a>
  <h3>Reset your password</h3>
  <label name="email">Email</label>
    <input type="email" name="email" class="email-reset-password">
  <input type="submit" class="send-reset-request">
</form>
