<div class="reset-password">
  <form>
    <a href="#" class="close-modal">x</a>
    <h3>Reset your password</h3>
    <label name="email">Email</label>
      <input type="email" name="email" class="email-reset-password">
    <input type="submit" class="send-reset-request">
  </form>
</div>
