<div class="search-box">
  <form class="index-search">
    <input class="search-location" type="text" placeholder="pick a location">
    <div class='form-input date-selector'>
      <i class='fa fa-calendar-o'></i>
      <input type='text' id='index-start' class="start-date-input" value='Start date' />
    </div>
    <div class='form-input date-selector'>
      <i class='fa fa-calendar-o'></i>
      <input type='text' id='index-end' class="end-date-input" value='End date' />
    </div>
    <select class="search-type">
      <option value="all">all</option>
      <option value="contra-dance">Contra Dance</option>
      <option value="advanced-contra-dance">Advanced Contra Dance</option>
      <option value="contra-workshop">Contra Workshop</option>
      <option value="waltz">Waltz Dance</option>
      <option value="waltz-workshop">Waltz Workshop</option>
      <option value="square-dance">Square Dance</option>
      <option value="dance-weekend">Dance Weekend</option>
      <option value="caller-workshop">Caller Workshop</option>
    </select>
    <input class="search-submit" type="submit" value="find dances">
</form>
</div>
