<div class="searchBox">
  <form>
    <input class="search-location" type="text" placeholder="location">
    <input class="search-distance" type="text" placeholder="within miles">
    <input class="search-start-date" type="date">
    <input class="search-end-date"type="date">
    <select class="search-type">
      <option>all</option>
      <option>Contra Dance</option>
      <option>Waltz Dance</option>
    </select>
    <input class="search-submit" type="submit">
</form>
</div>
<div id="map-canvas"></div>
