<div class="searchBox">
  <input type="text" placeholder="location">
  <input type="text" placeholder="within miles">
  <input type="date">
  <input type="date">
  <select>
    <option>all</option>
    <option>Contra Dance</option>
    <option>Waltz Dance</option>
  </select>
</div>
<div id="map-canvas"></div>
