<div class="searchBox">
  <form>
    <input class="search-location" type="text" placeholder="location">
    <input class="search-distance" type="text" placeholder="within miles">
    <input class="search-start-date" type="date">
    <input class="search-end-date"type="date">
    <select class="search-type">
      <option value="all">all</option>
      <option value="contra-dance">Contra Dance</option>
      <option value="advanced-contra-dance">Advanced Contra Dance</option>
      <option value="contra-workshop">Contra Workshop</option>
      <option value="waltz">Waltz Dance</option>
      <option value="waltz-workshop">Waltz Workshop</option>
      <option value="square-dance">Square Dance</option>
      <option value="dance-weekend">Dance Weekend</option>
      <option value="caller-workshop">Caller Workshop</option>
    </select>
    <input class="search-submit" type="submit">
</form>
</div>
