<form class="login-form">
  <a href="#" class="close-modal">
    <span class="fa-stack">
      <i class="fa fa-times fa-stack-1x" ></i>
      <i class="fa fa-circle-o fa-stack-2x"></i>
    </span>
  </a>
  <h2>Log In</h2>
  <label name="email">Email:</label>
    <input name="email" type="text" class="email-input" placeholder="email">
  <label name="password">Password:</label>
    <input name="password" type="password" class="password-input" placeholder="password">
  <input class="login" type="submit" value="login">
  <a href="#" class="forgot-password">forgot password?</a>
</form>
