{{#if user}}
  <div class="left-nav">
    <a href="#/orgs/{{user.urlId}}" class="manage">manage your events</a>
    <a href="#/orgs/{{user.urlId}}/create-event" class="create">add an event</a>
  </div>
  <div class="right-nav">
    <a href="#/logout" class="logout">logout</a>
  </div>
{{else}}
  <div class="right-nav">
    <a href="#/login" class="login">organizer login</a>
    <a href="#/register" class="signup">register</a>
  </div>
{{/if}}
