<h2>Register</h2>
<label name="name">Username:</label>
  <input name="name" type="text" class="name-input" placeholder="Username">
<label name="email">Contact Email:</label>
  <input name="email" type="email" class="email-input" placeholder="email">
<label class="organizer-label" name="organizer">Are you a...
  <label>dance organizer</label>
    <input name="organizer" class="organizer-input" type="radio" value="true">
  <label >dancer</label>
    <input name="organizer" class="organizer-input" type="radio" value="false">
</label>
<label name="password">Password:</label>
  <input type="password" class="password-input" placeholder="password">
  <input type="password" class="verify-password" placeholder="verify password">
<input class="submit-register" type="submit" value="create account" disabled>
