<h2>{{name}}</h2>

<p class="member-data">member since {{#dateDisplay}}{{createdAt}}{{/dateDisplay}}</p>
<div class="content">
<form class="change-account">
  <h3>Update Account</h3>
  <section class="password-section">
    <label name="new-password">New password</label>
      <input class="new-password" type="password" placeholder="new password">
    <label name="ver-password">Verify new password</label>
      <input class="verify-password" type="password" placeholder="verify new password">
    <label name="old-password">Old password</label>
      <input class="old-password" type="password" placeholder="old password">
    <input type="submit" name="change-password" value="update" class="change-password">
  </section>
  <section class="email-section">
    <label>Current email:</label>
    <span>{{email}}</span>
    <label name="email">New email:</label>
      <input type="email" class="new-email" placeholder="new email"></a>
      <input type="submit" value="update" class="change-email">
  </section>
</form>

<form class="email-settings">
  <h3>Email settings</h3>
  <h4>Emails you receive</h4>
  <div class="receive-not">
    <input type="checkbox" class="delete-msg" {{#if cancelNotify}}checked{{/if}}>
    <h5>Cancel Notifications</h5>
      <p>Receive email notification when an event I plan to attend is cancelled</p>
    <input type="checkbox" class="change-msg" {{#if changeNotify}}checked{{/if}}>
    <h5>Change Notifications</h5>
      <p>Allow email notification when an event I plan to attend is changed by the event organizer</p>
    <input type="checkbox" class="custom-msg" {{#if customNotify}}checked{{/if}}>
    <h5>Special Notifications</h5>
      <p>Allow other emails from the event organzier for events I plan to attend</p>
  </div>

  {{#if organizer}}
  <h4>Emails you send</h4>
  <div class="send-not">
      <input type="checkbox" class="org-delete-msg" {{#if orgCancelNotify}}checked{{/if}}>
      <h5>Cancel Notifications</h5>
        <p>Send email notification to event attendees if I cancel the event</p>
      <input type="checkbox" class="org-change-msg" {{#if orgChangeNotify}}checked{{/if}}>
      <h5>Change Notifications</h5>
        <p>Send email notification to event attendees if I make changes to the event</p>
    </div>
  {{/if}}
</form>
</div>
