<h2>Sign Up</h2>
<label name="orgName">Organization Name:</label>
  <input name="orgName" type="text" class="orgName-input" placeholder="Organization Name">
<label name="email">Contact Email:</label>
  <input name="email" type="email" class="email-input" placeholder="email">
<label name="password">Password:</label>
  <input type="password" class="password-input" placeholder="password">
  <input type="password" class="verify-password" placeholder="verify password">
<input class="submit" type="submit" value="create account" disabled>
